@model MessagingToolkit.SmartGateway.Portal.IncomingMessage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>IncomingMessage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Originator)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Originator)
            @Html.ValidationMessageFor(model => model.Originator)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginatorReceivedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginatorReceivedDate)
            @Html.ValidationMessageFor(model => model.OriginatorReceivedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Timezone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Timezone)
            @Html.ValidationMessageFor(model => model.Timezone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MessageType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MessageType)
            @Html.ValidationMessageFor(model => model.MessageType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeliveryStatus)
            @Html.ValidationMessageFor(model => model.DeliveryStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceivedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceivedDate)
            @Html.ValidationMessageFor(model => model.ReceivedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValidityTimeStamp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValidityTimeStamp)
            @Html.ValidationMessageFor(model => model.ValidityTimeStamp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginatorRefNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginatorRefNo)
            @Html.ValidationMessageFor(model => model.OriginatorRefNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MessageStatusType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MessageStatusType)
            @Html.ValidationMessageFor(model => model.MessageStatusType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SrcPort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SrcPort)
            @Html.ValidationMessageFor(model => model.SrcPort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DestPort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DestPort)
            @Html.ValidationMessageFor(model => model.DestPort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RawMessage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RawMessage)
            @Html.ValidationMessageFor(model => model.RawMessage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GatewayId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GatewayId)
            @Html.ValidationMessageFor(model => model.GatewayId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastUpdate)
            @Html.ValidationMessageFor(model => model.LastUpdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Indexes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Indexes)
            @Html.ValidationMessageFor(model => model.Indexes)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
